

<div id="hd">
   <img  src ="http://www.getjotbot.com/images/full_logo_001.gif" >  
</div>
<div id="bd">

  <div class="yui-g">
    <table border='0' width='100%' id='topimages'>
      <tr>
        <td align='center'>
    <div class='toptext'>Replaces this ...</div>
    <img src ="images/front_page_header_left.png" >  
        </td>
        <td align='center'>
        <div class='toptext'>... with this</div>
    <img src ="images/front_page_header_right.png" >  
        </td>
      </tr>
    </table>

  </div>

  <div class="yui-gc">

    <div class="yui-u first middle-blurb">
{{ page.content }}
    </div>

    <div class="yui-u video">
    </div>
  </div>

  <div class="yui-gb">
    <div class="yui-u first">
      <div class='content one'>
        <!--<p> <img align="left" hspace="15" vspace="5"  alt='FAQ' src='/images/icons__Soft_Icons_Pack/PNG/FAQ_med.png' > -->
        <!-- p> <img align="left" hspace="<%= @page.vars['iconhspace']%>" vspace="<%= @page.vars['iconvspace']%>"   alt='FAQ' src='/images/miscmr/BlueCons/Info_small.png' -->
        <p><a href='/faq'><img align="left" hspace="<%= @page.vars['iconhspace']%>" vspace="<%= @page.vars['iconvspace']%>"  alt='FAQ' src='/images/clock-icons/info-bulb_clock_icon_128.png' ></a>
        Questions about system requirements, about a specific feature? Check out our <a href='/faq'>FAQ</a>.</p> 

      </div>
    </div>
    <div class="yui-u">
      <div class='content two'>
        <!--      <p><img align="left" hspace="15" vspace="5"  alt='Protection' src="/images/icons__Soft_Icons_Pack/PNG/Protection_med.png" > -->

        <!--p> <img align="left" hspace="<%= @page.vars['iconhspace']%>" vspace="<%= @page.vars['iconvspace']%>"  alt='protection' src='/images/miscmr/SecurityIcons_KenSaunders/green_check_small.png' -->
        <p><a href="ks/trial"><img align="left" hspace="<%= @page.vars['iconhspace']%>" vspace="<%= @page.vars['iconvspace']%>"  alt='FAQ' src='/images/clock-icons/download_clock_icon_128.png' ></a>
        JotBot is currently in beta, you can try it out for free.<br /><a href="download">Download the beta version now.</a>
      </div>
    </div>
    <div class="yui-u">
      <div class='content three'>
        <!-- <p><img  align="left" hspace="15" vspace="5"  alt='Info' src= "/images/icons__Soft_Icons_Pack/PNG/Info_med.png" > -->
        <!-- p> <img align="left" hspace="<%= @page.vars['iconhspace']%>" vspace="<%= @page.vars['iconvspace']%>"  alt='FAQ' src='/images/miscmr/SmokeCons/Mail_red_small.png' -->
        <p> <img align="left" hspace="<%= @page.vars['iconhspace']%>" vspace="<%= @page.vars['iconvspace']%>"  alt='FAQ' src='/images/clock-icons/money_clock_icon_128.png' >
					JotBot will be available for purchase at the end of the beta period which is estimated to be in January.
				<!-- In additon to the 30-day free trial, you get a money-back guarantee.</p>
        <p>You can't go wrong. Buy JotBot today.</p> -->
      </div>
    </div>
  </div>
